<div class="container">
    <div class="row">
        <h2> Agregar Piloto </h2>
    </div>

    <div class="row">
        <div class="col-md-12 m-md-3">
            <div class="form-group col-md-4">
                <label>Nombre completo:</label>
                <input type="text" class="form-control" maxlength="150" #nombre>
            </div>
            <div class="form-group col-md-4">
                <label>Sexo:</label>
                <input type="text" class="form-control" maxlength="1" #sexo>
            </div>
            <div class="form-group col-md-6" style="text-align: right;">
                <button class="btn btn-primary" (click)="guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>