<div class="container">
    <div class="row">
        <h2 class="text-center"> Lista de Pilotos </h2>
    </div>

    <div class="row">

        <div *ngFor="let p of listaPilotos" class="col-md-3 p-md-2">
            <div class="card bg-dark text-white" style="width: 18rem;">
                <img src="https://cdn.domestika.org/c_fill,dpr_auto,f_auto,h_256,pg_1,t_base_params,w_256/v1601402690/avatars/004/309/041/4309041-original.jpg?1601402690" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{p.Codigo}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>ID:</b> {{p.PilotoId}}</li>
                    <li class="list-group-item bg-secondary bg-gradient text-white"><b>Nombre:</b> {{p.Nombre}}</li>
                    <li class="list-group-item"><b>Sexo:</b><br> {{p.Sexo}}</li>
                    <li class="list-group-item bg-secondary bg-gradient text-white"><b>Horas de vuelo:</b> {{p.HorasVuelo}}</li>
                </ul>
                <div class="card-body d-flex justify-content-center">
                    <a class="btn btn-info m-md-1" [routerLink]="['/DetallesPiloto', p.PilotoId]"><i class="fa-solid fa-eye fa-bounce"></i> Ver detalles</a>
                    <a class="btn btn-warning m-md-1" [routerLink]="['/EditarPiloto', p.PilotoId]"><i class="fa-solid fa-pen-to-square fa-flip"></i> Editar</a>
                    <!-- <a class="btn btn-danger m-md-1">Eliminar</a> -->
                </div>
            </div>
        </div>

    </div>
</div>